{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抽奖</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            background: #f0f1f2;
        }

        #image {
            max-width: 100%;
            height: auto;
            display: block;
        }

        #award {
            font-weight: bold;
            margin-left: 5px;
        }

        #code {
            font-weight: bold;
            margin-left: 5px;
        }
    </style>
</head>
<body>
<div class="modal fade" id="rule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">找奖品</h4>
            </div>
            <div class="modal-body" id="begin">
                <p class="text-center">动动你发财的小手</p>
                <p class="text-center">点击图片任何位置即可参与一次抽奖</p>
                <p class="text-center">您共有两次机会，祝君好运 ^_^</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="finish" class="btn btn-primary btn-lg btn-block ladda-button"
                        data-dismiss="modal" data-style="zoom-out" data-size="l"><span class='ladda-label'>我准备好了</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="result" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">结果</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">恭喜你，抽中<span id="award"></span></p>
                <p class="text-center">兑奖码<span id="code"></span></p>
                <p class="text-center">请截屏保存后添加客服兑奖</p>
                <img src="{% static 'images/group.jpg' %}" class="img-responsive center-block">
            </div>
            <!--   <div class="modal-footer">
                  <button type="button" id="to_info" class="btn btn-primary btn-lg btn-block ladda-button" data-dismiss="modal" data-style="zoom-out" data-size="l"><span class='ladda-label'>完善信息</span> </button>
              </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">结果</h4>
            </div>
            <div class="modal-body">
                <p class="text-center" id="error-text">没有找到奖品，还有<span id="count"></span>次机会</p>
                <p class="text-center" id="note"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg btn-block ladda-button" data-dismiss="modal"
                        data-style="zoom-out" data-size="l"><span class='ladda-label'>确定</span></button>
            </div>
        </div>
    </div>
</div>

{#	<h1 class="text-center">找奖品</h1>#}
{#    <p class="text-center">奖品可能藏在任何角落，点击即可抽奖</p>#}
{#    <p class="text-center">不过您只有3次机会，祝您好运</p>#}

<img id="image" class="img-responsive" src={{ img.img.url }} alt="美女" usemap="#MM">
{% csrf_token %}
<map id="MM" name="MM">
    {% for map in maps %}
        <area class="click" id="{{ map.id }}" shape="rect" coords="{{ map.area }}" href="#rect" title="矩形" alt="矩形">
    {% endfor %}
</map>

<script src="https://libs.cdnjs.net/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript">

    $("#rule").modal('show');

    {% ifequal lock 1 %}
        $("#begin").html('<p class="text-center">您已参与过抽奖，再次抽奖请添加客服获取抽奖资格</p>');
        $("#finish").text("我知道了");
        $("map").remove();
        $("#image").click(function () {
            if (localStorage.finish == "1") {
                $("#rule").modal('show');
                return false;
            }
        });
    {% else %}
        var count = 2;
        var award = 0;
        $(".click").click(function (e) {
            if (award == 1) {
                $("#result").modal('show');
                return false;
            }
            if (count > 0) {
                id = e.target.id;
                $.ajax('#', {
                    type: "POST",
                    dataType: 'json',
                    data: {
                        'areaid': id,
                        'csrfmiddlewaretoken': $("input[type='hidden']").val(),
                    },
                    success: function (res) {
                        if (res.status == 1) {
                            $("#award").text(res.award);
                            $("#code").text(res.code);
                            $("#result").modal('show');
                            award = 1;
                        }
                    }
                });
            } else {
                $("#error-text").text("两次都没中，你也是没谁了");
                $("#error").modal('show')
            }
        });
        $("#image").click(function () {
            if (award == 1) {
                $("#result").modal('show');
            } else {
                count = count - 1;
                if (count > 0) {
                    $("#count").text(count);
                    if (count == 1)
                        $("#note").text("提示：{{ img.note }}");
                } else {
                    $("#note").text("");
                    $("#error-text").text("两次都没中，你也是没谁了");
                }
                $("#error").modal('show')
            }
        });

    {% endifequal %}

    $("#finish").click(function () {
        $.ajax("{% url 'first:lock' %}", {
            type: "POST",
            dataType: "json",
            data: {
                'csrfmiddlewaretoken': $("input[type='hidden']").val(),
            },
            success: function (res) {
                if (res.status == 1)
                    $("#rule").modal('hide');
            }
        });
        return false;
    });

    function adjustPosition(position) {
        // 获取宽高
        var pageWidth = $("#image").width();
        var pageHeight = $("#image").height();
        // 图片原始尺寸
        var imageWidth = document.getElementById("image").naturalWidth;
        var imageHeigth = document.getElementById("image").naturalHeight;

        var each = position.split(",");

        for (var i = 0; i < each.length; i++) {
            if (i % 2 == 0) {
                // 新的y轴坐标
                each[i] = Math.round(parseInt(each[i]) * pageHeight / imageHeigth).toString();
            } else {
                // 新的x轴坐标
                each[i] = Math.round(parseInt(each[i]) * pageWidth / imageWidth).toString();
            }
        }
        var newPosition = "";
        for (var j = 0; j < each.length; j++) {
            newPosition += each[j];
            if (j < each.length - 1) {
                newPosition += ",";
            }
        }
        return newPosition;
    }

    function adjust() {
        var map = document.getElementById("MM");
        var area = map.getElementsByTagName('area');

        for (var i = 0; i < area.length; i++) {
            var oldCoords = area[i].getAttribute("coords");
            var newcoords = adjustPosition(oldCoords);
            area[i].setAttribute("coords", newcoords);
        }
    }

    adjust();
</script>
</body>
</html>
