{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            background: #f0f1f2;
        }

        #image {
            max-width: 100%;
            height: auto;
            display: block;
        }

        #award {
            font-weight: bold;
            margin-left: 5px;
        }

        #code {
            font-weight: bold;
            margin-left: 5px;
        }
    </style>
</head>
<body>
<div class="modal fade" id="rule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">找奖品</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">奖品可能藏在任何角落，点击即可抽奖</p>
                <p class="text-center">不过您只有3次机会，祝您好运</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="to_info" class="btn btn-primary btn-lg btn-block ladda-button"
                        data-dismiss="modal" data-style="zoom-out" data-size="l"><span class='ladda-label'>开始抽奖</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="result" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">结果</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">恭喜你，抽中<span id="award"></span></p>
                <p class="text-center">兑奖码<span id="code">LT007</span></p>
                <p class="text-center">关注公众号回复兑奖码即可获得奖品，快去关注吧</p>
                <img src="{% static 'images/wechat.jpg' %}" class="img-responsive center-block">
            </div>
            <!--   <div class="modal-footer">
                  <button type="button" id="to_info" class="btn btn-primary btn-lg btn-block ladda-button" data-dismiss="modal" data-style="zoom-out" data-size="l"><span class='ladda-label'>完善信息</span> </button>
              </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">结果</h4>
            </div>
            <div class="modal-body">
                <p class="text-center" id="error-text">没有找到奖品，还有<span id="count"></span>次机会</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg btn-block ladda-button" data-dismiss="modal"
                        data-style="zoom-out" data-size="l"><span class='ladda-label'>确定</span></button>
            </div>
        </div>
    </div>
</div>


<img id="image" class="img-responsive" src="{% static 'images/meng.jpg' %}" alt="美女" usemap="#MM">
<map id="MM" name="MM">
    <area class="click" id="1" shape="rect" coords="376,935,396,959" href="#rect" title="矩形" alt="矩形">
    <area class="click" id="2" shape="rect" coords="67,411,199,491" href="#rect" title="矩形" alt="矩形">
    <area class="click" id="3" shape="rect" coords="295,258,342,318" href="#rect" title="矩形" alt="矩形">
    <area class="click" id="4" shape="rect" coords="285,318,357,345" href="#rect" title="矩形" alt="矩形">
    <area class="click" id="5" shape="rect" coords="256,220,306,255" href="#rect" title="矩形" alt="矩形">
    <area class="click" id="6" shape="rect" coords="332,221,393,257" href="#rect" title="矩形" alt="矩形">
    <area class="click" id="7" shape="rect" coords="466,507,645,666" href="#rect" title="矩形" alt="矩形">
    <area class="click" id="8" shape="poly" coords="219,871,288,951,364,959,412,908,377,850,256,796" href="#rect"
          title="矩形" alt="矩形">
    <area class="click" id="9" shape="poly" coords="160,894,149,941,199,1009,278,943,215,873" href="#rect" title="矩形"
          alt="矩形">
</map>

<script src="https://libs.cdnjs.net/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $("#rule").modal('show');

    var awards = ["小米9手机一部", "西安3日游", "四级课程", "六级课程", "牛奶一箱", "免费早餐一次", "巴氏草莓酸奶一瓶", "笔记本一本", "黑色中性笔一支"];
    $(".click").click(function (e) {
        // $.ajax({
        // 	url: '/identify/',
        // 	type: "post",
        // 	dataType: 'json',
        // 	data: {
        // 		'image': image.src,
        // 		'csrfmiddlewaretoken': $("input[type='hidden']").val(),
        // 	},
        // 	success: function(res) {
        // 		$("#number").text(res);
        // 		identified = true;
        // 	}
        // })
        console.log(e.target.id)
        $("#award").text(awards[e.target.id - 1])
        $("#result").modal('show');
        return false;
    });

    var count = 3;
    $("#image").click(function () {
        if (count > 0) {
            $("#count").text(count);
            count = count - 1;
            $("#error").modal('show')
        } else {
            $("#error-text").text("抽奖结束");
        }
    })


    function adjustPosition(position) {
        // 获取宽高
        var pageWidth = $("#image").width();
        var pageHeight = $("#image").height();
        // 图片原始尺寸
        var imageWidth = 713;
        var imageHeigth = 1071;

        var each = position.split(",");

        for (var i = 0; i < each.length; i++) {
            if (i % 2 == 0) {
                // 新的y轴坐标
                each[i] = Math.round(parseInt(each[i]) * pageHeight / imageHeigth).toString();
            } else {
                // 新的x轴坐标
                each[i] = Math.round(parseInt(each[i]) * pageWidth / imageWidth).toString();
            }
        }
        var newPosition = "";
        for (var j = 0; j < each.length; j++) {
            newPosition += each[j];
            if (j < each.length - 1) {
                newPosition += ",";
            }
        }
        return newPosition;
    }

    function adjust() {
        var map = document.getElementById("MM");
        var area = map.getElementsByTagName('area');

        for (var i = 0; i < area.length; i++) {
            var oldCoords = area[i].getAttribute("coords");
            var newcoords = adjustPosition(oldCoords);
            area[i].setAttribute("coords", newcoords);
        }
    }

    adjust();
</script>
</body>
</html>